@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <MudButtonGroup Color="Color.Secondary" Variant="Variant.Filled">
        <MudButton StartIcon="@Icons.Material.Filled.ManageAccounts">
            <a href="authentication/profile">Hello, @context.User.Identity?.Name!</a>
        </MudButton>
        <MudButton StartIcon="@Icons.Material.Filled.Logout" OnClick="@BeginLogOut">Log out</MudButton>
        </MudButtonGroup>
    </Authorized>
    <NotAuthorized>
        <MudButtonGroup Color="Color.Secondary" Variant="Variant.Filled">
        <MudButton StartIcon="@Icons.Material.Filled.AppRegistration"><a href="authentication/register">Register</a></MudButton>
        <MudButton StartIcon="@Icons.Material.Filled.Login"><a href="authentication/login">Log in</a></MudButton>
        </MudButtonGroup>
    </NotAuthorized>
</AuthorizeView>

@code{
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
